$yellow: #CCA43B;
$grey: #696773;
$light-grey: #E5E5E5;
$black: #272727;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: $light-grey;
  margin: 0;
  color: $yellow;
  font-family: 'Work Sans', sans-serif;
}

p{
  color: $grey;
}


header{
    background-color: $grey;
    height: 100vh;
    background-attachment: fixed;
    nav{
      max-width: 60%;
      height: 20%;
      margin: auto;
      display: flex;
      a{
        display: inline-block;
        color: $yellow;
        border: $yellow 0.5px solid;
        margin-top: 50px;
        margin-right: -0.5px;
        margin-left: -0.5px;
        height: 50px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:nth-child(1){
        color: $yellow;
        border: $yellow 0.5px solid;
        width: 40%;
      }
      >a:nth-child(2){
        width: 30%;
      }
      >a:nth-child(3){
        width: 30%;
      }
    }
    .hero{
      background-color: $grey;
      color: $yellow;
      flex-direction: column;
      height: 80%;
      position: relative;
      h1{
        margin: 0;
        font-size: 60px;
        position: absolute;
        top: 20%;
        left: 20%;
      }
      h2{
        margin: 0;
        font-size: 40px;
        position: absolute;
        top: 50%;
        right: 30%;
      }
    }
}


// ----------------Me----------------------



// --------------SKills-----------------------

.web-icons{
  display: flex;
  flex-wrap: wrap;
  .icon{
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    i{
      color: $grey;
      position: absolute;
    }
    span{
      color: $light-grey;
      background-color: $grey;
      padding:5px;
      position: absolute;
      text-align: center;
      display: none;
    }
  }
}






main{
  scroll-snap-type: y proximity;
  overflow-y: auto;
  >section{
     scroll-snap-align: start;
  }
  .container{
    max-width: 1000px;
    margin: auto;
    padding: 100px 20px 100px 20px;
  }
}


.soft-skill{
  display: flex;
  flex-wrap: wrap;
  >div{
    padding: 5px;
    color: $light-grey;
    margin: 0 15px 15px 0;
    background-color: $grey;
    // border: $yellow 0.5px solid;
  }
}


.me{
  display: flex;
  flex-direction: column;
  h2{
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;
    span{
      color: $grey;
      padding: 10px 40px 10px 40px;
      border: $yellow 0.5px solid;
      margin-top: 20px;
    }
  }
  .show-section{
    display: flex;
    >div{
      width: 50%;
      .title{
        position: relative;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          text-align: center;
          font-size: 50px;
          position: absolute;
          margin: 0;
        }
        .symbol{
          display: flex;
        }
        .word{
          span{
            display: none;
          }
        }
      }
      .text{
        display: none;
      }
    }
  }
}


  .image-2{
    height: 100vh;
    background: url('./assets/images/image-4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
  }


.skills{
  .image-1{
    position: relative;
    height: 100vh;
    background: url('./assets/images/image-3.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
  }
  .container{
    display: flex;
    flex-direction: column;
    >.sub-heading{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      span{
        color: $black;
        padding: 10px 40px 10px 40px;
        border: $yellow 0.5px solid;
        margin-top: 20px;
      }
    }
    .skills-body{
      display: flex;
      flex-direction: row;
      h3{
        text-align: center;
      }
      >div{
        width: 50%;
        div{
          i{
            color: $grey;
            font-size: 60px;
          }
        }
      }
    }
  }
}

// .me{
//   div:first-child{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }

.projects-section{

  >.sub-heading{
    display: flex;
    justify-content: center;
    span{
      color: $black;
      padding: 10px 40px 10px 40px;
      border: $yellow 0.5px solid;
      margin-top: 20px;
    }
  }
  >.project{
    // margin-top: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div:first-child{
      display: flex;
      min-height: 250px;
      height: auto;
      .gif{
        display: flex;
        align-items: center;
        flex: 1 0 0;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .detail-section{
        display: flex;
        flex: 1 0 0;
        .links{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 10px 0 10px;
          >a{
            text-decoration: none;
            color: $yellow;
            font-size: 30px;
          }
        }
        .description{
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .tech{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >div{
      padding: 5px;
      color: $light-grey;
      margin: 0 15px 15px 0;
      background-color: $grey;
      border-radius: 1px;
    }
  }
}

footer{
  background-color: $grey;
  height: 100vh;
  display: flex;
  align-items: center;
  .contact{
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    >a{
      display: inline-block;
      color: $yellow;
      border: $yellow 0.5px solid;
      margin: 25px -0.5px 25px -0.5px;
      height: 50px;
      width: 250px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.snap-test{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  div{
    height: 100vh;
    scroll-snap-align: start;
    background-color: green;
    border: 3px solid black;
  }
}


// ---------- Arrow ----------------



.arrow {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: absolute;
  top: 85%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transition: transform .1s;
  width: 80px;

  $transition-time: .25s;

  &-top,
  &-bottom {
    background-color: $yellow;
    height: 2px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;

    &:after {
      background-color: $light-grey;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }

  &-top {
    transform: rotate(45deg);
    transform-origin: bottom right;

    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }

  &-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;

    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }

  &:hover & {

    &-top:after {
      left: 0;
      transition-delay: $transition-time;
    }

    &-bottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
}

.arrow-section{
  position: relative;
  padding-top: 150px;
  .arrow {

    &-top,
    &-bottom {
      background-color: $grey;



      &:after {
        background-color: $yellow;

      }
    }
  }
}




@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 769px) {

  .show-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      width: 100%
    }
  }
  .skills{
    .container{
      .skills-body{
        flex-direction: column;
        align-items: center;
        >div{
          width: 90%;
        }
        .web-icons, .soft-skill{
          justify-content: center;
        }
      }
    }
  }

  .project{
    >div:first-child{
      flex-direction: column;
    }
  }


  footer{

    .contact{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 20px;
      a{
        width: 250px;
        padding: 10px;
        margin-top: -0.5px;
        margin-bottom: -0.5px;
      }
    }
  }

}
