$yellow: #CCA43B;
$grey: #696773;
$light-grey: #E5E5E5;
$black: #272727;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: $light-grey;
  margin: 0;
  color: $yellow;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
}

p{
  color: $grey;
}

h1,h2,h3{
  font-weight: 100;
}

main{
  .container{
    max-width: 1000px;
    margin: auto;
    padding: 100px 20px 100px 20px;
  }
}

header{
    background-color: $grey;
    height: 100vh;
    background-attachment: fixed;
    width: 100vw;
    nav{
      .nav-toggle{
        display: none;
      }
      display: flex;
      justify-content: center;
      .nav-body{
      height: 20%;
      margin: auto;
      display: flex;
      position: fixed;
      top: 10px;
      padding: 0 20px 0 20px;
      width: 100%;
      max-width: 1000px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      >div{
          color: $yellow;
          border: $yellow 0.5px solid;
          background-color: $grey;
          width:100%;
          // max-width: 1000px;
          margin: -0.5px 20px -0.5px 20px;
      }
      >div:first-child{
        display: flex;
        height: 25%;
        padding: 0;
        width: 100%;
        >a{
          flex-grow: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          border: $yellow 0.5px solid;
          color: $yellow;
          margin: -0.5px -0.5px -0.5px -0.5px;
          text-decoration: none;
        }
      }
      >div:nth-child(2){
        height: 25%;
        display: flex;
        text-align: right;
        align-items: center;
        width: 100%;
        div{
          p{
            text-align: right;
            color: $yellow;
            width: 100%;
            padding: 0 10px 0 10px;
            a{
              text-decoration: none;
              color: $yellow;
            }
          }
        }
        div:last-child{
          flex-grow: 1;
        }
      }
    }
  }
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    >div{
      border-bottom: $yellow 0.5px solid;
      padding: 5px 20px 5px 20px;
      color: $yellow;
      h1,h2{
        margin: 0;
        display: flex;
        span{
        position: relative;
        opacity: 0;
        animation: animateOverlay 0.5s ease-in-out forwards;
        }
        span:nth-child(4n) {
          animation-delay:0s;
        }
        span:nth-child(4n+1) {
          animation-delay: 1s;
        }
        span:nth-child(4n+3) {
          animation-delay: 2s;
        }
        span:nth-child(4n+2) {
          animation-delay: 3s;
        }
      }
      h1{
        text-align: center;
        font-size: 4em;
      }
      h2{
        font-size: 2.5em;
        span{
          top: 0em;
        }
      }
    }
    .arrow{
      position: absolute;
      top: 80%;
      left: 50%;
    }
  }
}

@keyframes animateOverlay {
  to {
opacity: 1;
bottom: 0;
} }


// ------------ Section break images------------------

.image-1{
  position: relative;
  height: 100vh;
  background: url('./assets/images/image-3.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.image-2{
  height: 100vh;
  background: url('./assets/images/image-4.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

// --------------About me section------------------------

.me{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  h2{
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px;

    span{
      color: $grey;
      font-weight: 100;
      padding: 10px 40px 10px 40px;
      border: $yellow 0.5px solid;
      margin-top: 20px;
    }
  }
  p{
    font-weight: 200;
  }
  .show-section{
    display: flex;
    >div{
      width: 50%;
      .title{
        position: relative;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          text-align: center;
          font-size: 50px;
          position: absolute;
          margin: 0;
        }
        i{
          opacity: 0;
          transition: all 0.75s ease-in-out;
        }
        i.show{
          opacity: 1;
        }
        .word{
          span{
            opacity: 0;
            transition: all 0.75s ease-in-out;
          }
          span.show{
            opacity: 1;
          }
        }
      }
      .text{
        display: none;
      }
    }
  }
}

// --------------Skills Section--------------------

.skills{
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    >.sub-heading{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      span{
        color: $black;
        padding: 10px 40px 10px 40px;
        border: $yellow 0.5px solid;
        margin-top: 20px;
      }
    }
    .skills-body{
      display: flex;
      flex-direction: row;
      h3{
        text-align: center;
      }
      >div{
        width: 50%;
        div{
          i{
            color: $grey;
            font-size: 60px;
          }
        }
      }
      .web-icons{
        display: flex;
        flex-wrap: wrap;
        .icon{
          width: 60px;
          height: 60px;
          margin: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          i{
            color: $grey;
            position: absolute;
            transition: all 0.75s ease-in-out;
            opacity: 0;
          }
          i.show{
            opacity: 1;
          }
          span{
            color: $light-grey;
            background-color: $grey;
            padding:5px;
            position: absolute;
            text-align: center;
            opacity: 0;
            transition: all 0.75s ease-in-out;
          }
          span.show{
            opacity: 1;
          }
        }
      }
      .soft-skill{
        display: flex;
        flex-wrap: wrap;
        >div{
          padding: 5px;
          color: $light-grey;
          margin: 0 15px 15px 0;
          background-color: $grey;
        }
      }
    }
  }
}

// ---------------Projects Section-------------------------

.projects-section{
  >.sub-heading{
    display: flex;
    justify-content: center;
    span{
      color: $black;
      padding: 10px 40px 10px 40px;
      border: $yellow 0.5px solid;
      margin-top: 20px;
    }
  }
  >.project{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >div:first-child{
      display: flex;
      min-height: 250px;
      height: auto;
      .gif{
        display: flex;
        align-items: center;
        flex: 1 0 0;
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .detail-section{
        display: flex;
        flex: 1 0 0;
        .links{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 10px 0 10px;
          >a{
            text-decoration: none;
            color: $yellow;
            font-size: 30px;
          }
        }
        .description{
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          font-weight: 300;
        }
      }
    }
  }
  .tech{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >div{
      padding: 5px;
      color: $grey;
      margin: 0 15px 15px 0;
      background-color: $light-grey;
      border: $yellow solid 0.5px;
      border-radius: 1px;
    }
  }
  .arrow-section{
    position: relative;
    padding-top: 50px;
    .arrow {
      &-top,
      &-bottom {
        background-color: $grey;
        &:after {
          background-color: $yellow;
        }
      }
    }
  }
}

footer{
  background-color: $grey;
  height: 100vh;
  display: flex;
  width: auto;
  .contact{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    >div:first-child{
      font-size: 50px;
      padding-top: 80px;
    }
    .sub-heading{
      span{
        color: $light-grey;
        padding: 10px 40px 10px 40px;
        border: $yellow 0.5px solid;
        margin-top: 20px;
      }
    }
    >.contact-details{
      display: flex;
      justify-content: center;
      align-items: center;
      >a{
        color: $yellow;
        position: relative;
        font-size: 40px;
        // border: $yellow 0.5px solid;
        margin: 25px -0.5px 25px -0.5px;
        height: 50px;
        width: 250px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        i,span{
          opacity: 0;
          position: absolute;
          transition: all 0.5s ease-in-out;
        }
        .show{
          opacity: 1;
        }
        span{
          font-size: 16px;
        }
      }
    }
  }
}
// ---------- Arrow ----------------

.arrow {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transition: transform .1s;
  width: 80px;
  $transition-time: .25s;
  &-top,
  &-bottom {
    background-color: $yellow;
    height: 2px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
    &:after {
      background-color: $light-grey;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }
  &-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }
  &-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }
  &:hover & {
    &-top:after {
      left: 0;
      transition-delay: $transition-time;
    }
    &-bottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }
  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.5);
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 769px) {

  header{
    nav{
      .nav-toggle{
        margin-top: 20px;
        display: flex;
      }
      .nav-body{
        display: flex;
        margin-top: 20px;
        height: 40%;
        position: absolute;
        >div:first-child{
          flex-direction: column;
          width: 50%;
          border: none;
          height: auto;
          min-width: 300px;
          a{
            height: 40px;
            border-color: $grey;
            color: $grey;
            transition: all 0.5s ease-in-out;
          }
        }
        >div:nth-child(2){
          display: none;
          flex-direction: column;
          width: 50%;
          height: auto;
          min-width: 300px;
          margin: 0;
          margin: -0.5px 0 0 0;
        }
      }
      .nav-body.show{
        >div:first-child{
          a{
            border-color: $yellow;
            color: $yellow;
          }
        }
      }
    }
    .hero{
      height: 100%;
    }
  }
  .me{
    height: auto;
    .show-section{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        width: 100%
      }
    }
  }
  .skills{
    .container{
      height: auto;
      .skills-body{
        flex-direction: column;
        align-items: center;
        >div{
          width: 90%;
        }
        .web-icons, .soft-skill{
          justify-content: center;
        }
      }
    }
  }
  .projects-section{
    .project{
      height: auto;
      margin: 2em;
      .arrow-section{
        display: none;
      }
      >div:first-child{
        flex-direction: column;
        .detail-section{
          flex-direction: column;
          >.links{
            flex-direction: row;
            padding: 20px;
          }
        }
      }
    }
  }
  footer{
    .contact{
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      align-items: center;
      padding: 20px;
      .contact-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >a{
          width: auto;
          // width: 250px;
          padding: 20px;
          margin-top: -0.5px;
          margin-bottom: -0.5px;
        }
      }
    }
  }
}
