$yellow: #CCA43B;
$grey: #696773;
$light-grey: #E5E5E5;
$black: #272727;

*{
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body{
  background-color: $light-grey;
  margin: 0;
  color: $yellow;
  font-family: 'Work Sans', sans-serif;
}

p{
  color: $grey;
}


header{
    background-color: $grey;
    height: 100vh;
    background-attachment: fixed;
    nav{
      max-width: 60%;
      height: 20%;
      margin: auto;
      display: flex;
      a{
        display: inline-block;
        color: $yellow;
        border: $yellow 0.5px solid;
        margin-top: 50px;
        margin-right: -0.5px;
        margin-left: -0.5px;
        height: 50px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      a:nth-child(1){
        color: $yellow;
        border: $yellow 0.5px solid;
        width: 40%;
      }
      >a:nth-child(2){
        width: 30%;
      }
      >a:nth-child(3){
        width: 30%;
      }
    }
    .hero{
      background-color: $grey;
      color: $yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 80%;
      h1{
        margin: 0;
      }
    }
}


// ----------------Me----------------------



// --------------SKills-----------------------

.web-icons{
  display: flex;
  flex-wrap: wrap;
  .icon{
    width: 60px;
    margin: 5px;
    color: $grey;
  }
}






main{
  .container{
    max-width: 1000px;
    margin: auto;
    padding: 100px 20px 100px 20px;
  }
}


.soft-skill{
  display: flex;
  flex-wrap: wrap;
  >div{
    padding: 5px;
    color: $light-grey;
    margin: 0 15px 15px 0;
    background-color: $grey;
    // border: $yellow 0.5px solid;
  }
}


.me{
  display: flex;
  flex-direction: column;
  h2{
    text-align: center;
    span{
      color: $black;
      padding: 10px 40px 10px 40px;
      border: $yellow 0.5px solid;
      margin-top: 20px;
    }
  }
  .show-section{
    display: flex;
    >div{
      width: 50%;
      .title{
        position: relative;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
          text-align: center;
          font-size: 50px;
          position: absolute;
          margin: 0;
        }
        .symbol{
          display: flex;
        }
        .word{
          display: none;
        }
      }
      .text{
        display: none;
      }
    }
  }
}


  .image-2{
    height: 100vh;
    background: url('./assets/images/image-4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
  }


.skills{
  .image-1{
    position: relative;
    height: 100vh;
    background: url('./assets/images/image-3.jpg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
  }
  .container{
    display: flex;
    flex-direction: column;
    >.sub-heading{
      display: flex;
      justify-content: center;

      span{
        color: $black;
        padding: 10px 40px 10px 40px;
        border: $yellow 0.5px solid;
        margin-top: 20px;
      }
    }
    .skills-body{
      display: flex;
      flex-direction: row;
      h3{
        text-align: center;
      }
      >div{
        width: 50%;
        div{
          i{
            color: $grey;
            font-size: 60px;
          }
        }

    }

    }
    // >.body{
    //   display:flex;

    // }
  }
}

// .me{
//   div:first-child{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
// }

.projects-section{
  .project{
    margin-top: 30px;
    >div:first-child{
      display: flex;
      min-height: 250px;
      height: auto;
      .gif{
        display: flex;
        align-items: center;
        flex: 1 0 0;
        width: 100%;
        img{
          width: 100%;
          height: auto;
          // box-shadow: 5px 5px;
        }
      }
      .hidden-gems{
        border: $yellow 1px solid;
        // background: url('./assets/images/battleships.gif');
        // background-size: cover;
        // background-position: center;
      }
      .health-tasty{
        border: $yellow 1px solid;
        // background: url('./assets/images/battleships.gif');
        // background-size: cover;
        // background-position: center;
      }
      .bee-social{
        border: $yellow 1px solid;
        // background: url('./assets/images/battleships.gif');
        // background-size: cover;
        // background-position: center;
      }
      .detail-section{
        display: flex;
        flex: 1 0 0;
        .links{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 10px 0 10px;
          >a{
            text-decoration: none;
            color: $yellow;
            font-size: 30px;
          }
        }
        .description{
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .tech{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    >div{
      padding: 5px;
      color: $light-grey;
      margin: 0 15px 15px 0;
      background-color: $grey;
      border-radius: 1px;
    }
  }
}

// .parallax{
//   .MainContainer {
//   perspective: 1px;
//   transform-style: preserve-3d;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   }
//
//   .ParallaxContainer {
//     display: flex;
//     background: url('./assets/images/image-3.jpg');
//     background-size: cover;
//     background-position: bottom;
//     flex: 1 0 auto;
//     position: relative;
//     height: 100vh;
//     transform: translateZ(-1px) scale(2);
//     z-index: -1;
//   }
//
//   .ContentContainer {
//     display: block;
//     position: relative;
//     background-color: white;
//     z-index: 1;
//     height: 100vh;
//   }
// }

footer{
  background-color: $grey;
  .contact{
    max-width: 60%;
    height: 100px;
    margin: auto;
    display: flex;
    >a{
      display: inline-block;
      color: $yellow;
      border: $yellow 0.5px solid;
      margin: 25px -0.5px 25px -0.5px;
      height: 50px;
      width: 33%;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
