* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background-color: #E5E5E5;
  margin: 0;
  color: #CCA43B;
  font-family: 'Work Sans', sans-serif; }

p {
  color: #696773; }

header {
  background-color: #696773;
  height: 100vh;
  background-attachment: fixed; }
  header nav {
    max-width: 60%;
    height: 20%;
    margin: auto;
    display: flex; }
    header nav a {
      display: inline-block;
      color: #CCA43B;
      border: #CCA43B 0.5px solid;
      margin-top: 50px;
      margin-right: -0.5px;
      margin-left: -0.5px;
      height: 50px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
    header nav a:nth-child(1) {
      color: #CCA43B;
      border: #CCA43B 0.5px solid;
      width: 40%; }
    header nav > a:nth-child(2) {
      width: 30%; }
    header nav > a:nth-child(3) {
      width: 30%; }
  header .hero {
    background-color: #696773;
    color: #CCA43B;
    flex-direction: column;
    height: 80%;
    position: relative; }
    header .hero h1 {
      margin: 0;
      font-size: 60px;
      position: absolute;
      top: 20%;
      left: 20%; }
    header .hero h2 {
      margin: 0;
      font-size: 40px;
      position: absolute;
      top: 50%;
      right: 30%; }

.web-icons {
  display: flex;
  flex-wrap: wrap; }
  .web-icons .icon {
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .web-icons .icon i {
      color: #696773;
      position: absolute; }
    .web-icons .icon span {
      color: #E5E5E5;
      background-color: #696773;
      padding: 5px;
      position: absolute;
      text-align: center;
      display: none; }

main {
  scroll-snap-type: y proximity;
  overflow-y: auto; }
  main > section {
    scroll-snap-align: start; }
  main .container {
    max-width: 1000px;
    margin: auto;
    padding: 100px 20px 100px 20px; }

.soft-skill {
  display: flex;
  flex-wrap: wrap; }
  .soft-skill > div {
    padding: 5px;
    color: #E5E5E5;
    margin: 0 15px 15px 0;
    background-color: #696773; }

.me {
  display: flex;
  flex-direction: column; }
  .me h2 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 50px; }
    .me h2 span {
      color: #696773;
      padding: 10px 40px 10px 40px;
      border: #CCA43B 0.5px solid;
      margin-top: 20px; }
  .me .show-section {
    display: flex; }
    .me .show-section > div {
      width: 50%; }
      .me .show-section > div .title {
        position: relative;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        .me .show-section > div .title h3 {
          text-align: center;
          font-size: 50px;
          position: absolute;
          margin: 0; }
        .me .show-section > div .title .symbol {
          display: flex; }
        .me .show-section > div .title .word span {
          display: none; }
      .me .show-section > div .text {
        display: none; }

.image-2 {
  height: 100vh;
  background: url("./assets/images/image-4.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.skills .image-1 {
  position: relative;
  height: 100vh;
  background: url("./assets/images/image-3.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat; }
.skills .container {
  display: flex;
  flex-direction: column; }
  .skills .container > .sub-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
    .skills .container > .sub-heading span {
      color: #272727;
      padding: 10px 40px 10px 40px;
      border: #CCA43B 0.5px solid;
      margin-top: 20px; }
  .skills .container .skills-body {
    display: flex;
    flex-direction: row; }
    .skills .container .skills-body h3 {
      text-align: center; }
    .skills .container .skills-body > div {
      width: 50%; }
      .skills .container .skills-body > div div i {
        color: #696773;
        font-size: 60px; }

.projects-section > .sub-heading {
  display: flex;
  justify-content: center; }
  .projects-section > .sub-heading span {
    color: #272727;
    padding: 10px 40px 10px 40px;
    border: #CCA43B 0.5px solid;
    margin-top: 20px; }
.projects-section > .project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .projects-section > .project > div:first-child {
    display: flex;
    min-height: 250px;
    height: auto; }
    .projects-section > .project > div:first-child .gif {
      display: flex;
      align-items: center;
      flex: 1 0 0;
      width: 100%; }
      .projects-section > .project > div:first-child .gif img {
        width: 100%;
        height: auto; }
    .projects-section > .project > div:first-child .detail-section {
      display: flex;
      flex: 1 0 0; }
      .projects-section > .project > div:first-child .detail-section .links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 10px 0 10px; }
        .projects-section > .project > div:first-child .detail-section .links > a {
          text-decoration: none;
          color: #CCA43B;
          font-size: 30px; }
      .projects-section > .project > div:first-child .detail-section .description {
        flex-grow: 1;
        display: flex;
        flex-direction: column; }
.projects-section .tech {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .projects-section .tech > div {
    padding: 5px;
    color: #E5E5E5;
    margin: 0 15px 15px 0;
    background-color: #696773;
    border-radius: 1px; }

footer {
  background-color: #696773;
  height: 100vh;
  display: flex;
  align-items: center; }
  footer .contact {
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center; }
    footer .contact > a {
      display: inline-block;
      color: #CCA43B;
      border: #CCA43B 0.5px solid;
      margin: 25px -0.5px 25px -0.5px;
      height: 50px;
      width: 250px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }

.snap-test {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; }
  .snap-test div {
    height: 100vh;
    scroll-snap-align: start;
    background-color: green;
    border: 3px solid black; }

.arrow {
  cursor: pointer;
  height: 120px;
  left: 50%;
  position: absolute;
  top: 85%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transition: transform .1s;
  width: 80px; }
  .arrow-top, .arrow-bottom {
    background-color: #CCA43B;
    height: 2px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%; }
    .arrow-top:after, .arrow-bottom:after {
      background-color: #E5E5E5;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all 0.25s; }
  .arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right; }
    .arrow-top:after {
      left: 100%;
      right: 0;
      transition-delay: 0s; }
  .arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right; }
    .arrow-bottom:after {
      left: 0;
      right: 100%;
      transition-delay: 0.25s; }
  .arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.25s; }
  .arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s; }
  .arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.5); }

.arrow-section {
  position: relative;
  padding-top: 150px; }
  .arrow-section .arrow-top, .arrow-section .arrow-bottom {
    background-color: #696773; }
    .arrow-section .arrow-top:after, .arrow-section .arrow-bottom:after {
      background-color: #CCA43B; }

@media only screen and (max-width: 769px) {
  .show-section {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .show-section p {
      width: 100%; }

  .skills .container .skills-body {
    flex-direction: column;
    align-items: center; }
    .skills .container .skills-body > div {
      width: 90%; }
    .skills .container .skills-body .web-icons, .skills .container .skills-body .soft-skill {
      justify-content: center; }

  .project > div:first-child {
    flex-direction: column; }

  footer .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px; }
    footer .contact a {
      width: 250px;
      padding: 10px;
      margin-top: -0.5px;
      margin-bottom: -0.5px; } }

/*# sourceMappingURL=style.css.map */
