* {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background-color: #E5E5E5;
  margin: 0;
  color: #CCA43B;
  font-family: 'Work Sans', sans-serif; }

p {
  color: #696773; }

header {
  background-color: #696773;
  height: 100vh;
  background-attachment: fixed; }
  header nav {
    max-width: 60%;
    height: 20%;
    margin: auto;
    display: flex; }
    header nav a {
      display: inline-block;
      color: #CCA43B;
      border: #CCA43B 0.5px solid;
      margin-top: 50px;
      margin-right: -0.5px;
      margin-left: -0.5px;
      height: 50px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }
    header nav a:nth-child(1) {
      color: #CCA43B;
      border: #CCA43B 0.5px solid;
      width: 40%; }
    header nav > a:nth-child(2) {
      width: 30%; }
    header nav > a:nth-child(3) {
      width: 30%; }
  header .hero {
    background-color: #696773;
    color: #CCA43B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%; }
    header .hero h1 {
      margin: 0; }

.web-icons {
  display: flex;
  flex-wrap: wrap; }
  .web-icons .icon {
    width: 60px;
    margin: 5px;
    color: #696773; }

main .container {
  max-width: 1000px;
  margin: auto;
  padding: 100px 20px 100px 20px; }

.soft-skill {
  display: flex;
  flex-wrap: wrap; }
  .soft-skill > div {
    padding: 5px;
    color: #E5E5E5;
    margin: 0 15px 15px 0;
    background-color: #696773; }

.me {
  display: flex;
  flex-direction: column; }
  .me h2 {
    text-align: center; }
    .me h2 span {
      color: #272727;
      padding: 10px 40px 10px 40px;
      border: #CCA43B 0.5px solid;
      margin-top: 20px; }
  .me .show-section {
    display: flex; }
    .me .show-section > div {
      width: 50%; }
      .me .show-section > div .title {
        position: relative;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center; }
        .me .show-section > div .title h3 {
          text-align: center;
          font-size: 50px;
          position: absolute;
          margin: 0; }
        .me .show-section > div .title .symbol {
          display: flex; }
        .me .show-section > div .title .word {
          display: none; }
      .me .show-section > div .text {
        display: none; }

.image-2 {
  height: 100vh;
  background: url("./assets/images/image-4.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }

.skills .image-1 {
  position: relative;
  height: 100vh;
  background: url("./assets/images/image-3.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat; }
.skills .container {
  display: flex;
  flex-direction: column; }
  .skills .container > .sub-heading {
    display: flex;
    justify-content: center; }
    .skills .container > .sub-heading span {
      color: #272727;
      padding: 10px 40px 10px 40px;
      border: #CCA43B 0.5px solid;
      margin-top: 20px; }
  .skills .container .skills-body {
    display: flex;
    flex-direction: row; }
    .skills .container .skills-body h3 {
      text-align: center; }
    .skills .container .skills-body > div {
      width: 50%; }
      .skills .container .skills-body > div div i {
        color: #696773;
        font-size: 60px; }

.projects-section {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh); }
  .projects-section > .sub-heading {
    display: flex;
    justify-content: center; }
    .projects-section > .sub-heading span {
      color: #272727;
      padding: 10px 40px 10px 40px;
      border: #CCA43B 0.5px solid;
      margin-top: 20px; }
  .projects-section > .project {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    justify-content: center; }
    .projects-section > .project > div:first-child {
      display: flex;
      min-height: 250px;
      height: auto; }
      .projects-section > .project > div:first-child .gif {
        display: flex;
        align-items: center;
        flex: 1 0 0;
        width: 100%; }
        .projects-section > .project > div:first-child .gif img {
          width: 100%;
          height: auto; }
      .projects-section > .project > div:first-child .detail-section {
        display: flex;
        flex: 1 0 0; }
        .projects-section > .project > div:first-child .detail-section .links {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin: 0 10px 0 10px; }
          .projects-section > .project > div:first-child .detail-section .links > a {
            text-decoration: none;
            color: #CCA43B;
            font-size: 30px; }
        .projects-section > .project > div:first-child .detail-section .description {
          flex-grow: 1;
          display: flex;
          flex-direction: column; }
  .projects-section .tech {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .projects-section .tech > div {
      padding: 5px;
      color: #E5E5E5;
      margin: 0 15px 15px 0;
      background-color: #696773;
      border-radius: 1px; }

footer {
  background-color: #696773; }
  footer .contact {
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center; }
    footer .contact > a {
      display: inline-block;
      color: #CCA43B;
      border: #CCA43B 0.5px solid;
      margin: 25px -0.5px 25px -0.5px;
      height: 50px;
      width: 250px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center; }

@media only screen and (max-width: 769px) {
  .show-section {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .show-section p {
      width: 100%; }

  .skills .container .skills-body {
    flex-direction: column;
    align-items: center; }
    .skills .container .skills-body > div {
      width: 90%; }
    .skills .container .skills-body .web-icons, .skills .container .skills-body .soft-skill {
      justify-content: center; }

  .project > div:first-child {
    flex-direction: column; }

  footer .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px; }
    footer .contact a {
      width: 250px;
      padding: 10px;
      margin-top: -0.5px;
      margin-bottom: -0.5px; } }

/*# sourceMappingURL=style.css.map */
